<% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="body">Body</th>
      <th></th>
      <th></th>
      <th
    </tr>
  </thead>
　<tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
      <td><%= link_to 'Show', book,class:"index-show" %></td>
      <td><%= link_to 'Edit', edit_book_path(book),class:"index-edit" %></td>
      <td><%= link_to 'Destroy', book,class:"index-destroy", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<h2>New book</h2>
<%= form_with model: @book, url: '/books', method: :post  do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>body</p>
  <%= f.text_area :body %>

  <br><%= f.submit 'Create Book' %><br>
<% end %>

