<tbody>
  <% if flash[:notice] %>
    <div class="flash">
        <%= flash[:notice] %>
    </div>
  <% end %>
  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  <br>
  <br>
  <p>
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
  <br>
</tbody>
  <p>
    <%= link_to 'Edit', edit_book_path %>  |  <%= link_to "back", books_path %>
  </p>
